<mat-toolbar class="mat-elevation-z2" color="primary">
  <span>Sign Up</span>
  <span class="fill-remaining-space"></span>
  <button mat-stroked-button (click)="login()">
    <mat-icon>fingerprint</mat-icon> Login
  </button>
</mat-toolbar>

<div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="gappx">
  <form [formGroup]="signUpFormGroup" (ngSubmit)="onSubmit()">
    <div fxLayout="row" fxLayoutAlign="center center">
      <mat-form-field class="example-full-width" appearance="outline">
        <input matInput placeholder="Username" formControlName="username" />
        <mat-label>Username</mat-label>
      </mat-form-field>
    </div>
    <div fxLayout="row" fxLayoutAlign="center center">
      <mat-form-field class="example-full-width" appearance="outline">
        <input
          matInput
          placeholder="Password"
          type="password"
          formControlName="password"
        />
        <mat-label>Password</mat-label>
      </mat-form-field>
    </div>
    <div fxLayout="row" fxLayoutAlign="center center">
      <button
        mat-raised-button
        type="submit"
        color="primary"
        [disabled]="!signUpFormGroup.valid"
      >
        Sign Up
      </button>
    </div>
  </form>
</div>
