<mat-toolbar class="mat-elevation-z2" color="primary">
  <span>Show Of Hands</span>
  <span class="fill-remaining-space"></span>
  <button mat-button [matMenuTriggerFor]="sortingModes">
    <mat-icon>sort</mat-icon>
  </button>
  <button mat-button [matMenuTriggerFor]="menu">
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="createPoll()">
      <mat-icon>add</mat-icon>Create Poll
    </button>
    <button mat-menu-item (click)="logout()">
      <mat-icon>exit_to_app</mat-icon> Logout
    </button>
  </mat-menu>

  <mat-menu #sortingModes="matMenu">
    <button mat-menu-item (click)="getPolls('desc')">
      <mat-icon>trending_up</mat-icon>Top
    </button>
    <button mat-menu-item (click)="getPolls('time')">
      <mat-icon>schedule</mat-icon>Latest
    </button>
  </mat-menu>
</mat-toolbar>

<div *ngFor="let poll of pollList; let i = index;">
  <mat-card class="poll-card mat-elevation-z8">
    <div
      fxLayout="row"
      fxLayoutAlign="start start"
      fxLayoutGap="gappx"
      fxLayoutAlign="space-between start"
    >
      <div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="gappx">
        <div fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="gappx">
          <div mat-card-avatar class="example-header-image"></div>
        </div>
        <div
          fxLayout="column"
          fxLayoutAlign="center start"
          fxLayoutGap="gappx"
          class="card-title"
        >
          <mat-card-title>{{ poll.title }}</mat-card-title>
          <mat-card-subtitle
            >{{ poll.username }}<br />
            {{ pollCreationTime(i) }}</mat-card-subtitle
          >
        </div>
      </div>
      <div>
        <button
          mat-stroked-button
          style="border-color: blue"
          (click)="pollDetails(i)"
        >
          Show Result
        </button>
      </div>
    </div>

    <mat-card-content>
      <p>{{ poll.description }}</p>
       
      <app-poll-image [poll]="pollList[i]"></app-poll-image>
      <app-poll-options
        [poll]="pollList[i]"
        [currentUser]="currentUser"
      ></app-poll-options>
    </mat-card-content>
    <mat-card-actions>
      <app-poll-actionbar
        [poll]="pollList[i]"
        [currentUser]="currentUser"
      ></app-poll-actionbar>
    </mat-card-actions>
  </mat-card>
</div>
