<mat-toolbar class="mat-elevation-z2" color="primary">
    <span>Show Of Hands</span>
    <span class="fill-remaining-space"></span>
    <button mat-button [matMenuTriggerFor]="menu">
        <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="createPoll()">
            <mat-icon>add</mat-icon>Create Poll
        </button>
        <button mat-menu-item (click)="logout()">
            <mat-icon>exit_to_app</mat-icon> Logout
        </button>
    </mat-menu>
</mat-toolbar>


<div *ngFor="let poll of pollList; let i = index">
    <mat-card class="example-card mat-elevation-z8">
        <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>{{poll.title}}</mat-card-title>
            <mat-card-subtitle>{{poll.username}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <p>{{poll.description}}</p>

            <div *ngFor="let option of poll.options" class="option-button" >
                <button mat-stroked-button>{{option.optionName}}</button>
            </div>
        </mat-card-content>
        <mat-card-actions>

            <button mat-button>{{poll.comments.length}} Comment</button>
            <button mat-button (click)="upvote(i)">
                <mat-icon aria-hidden="false" aria-label="Example home icon">arrow_upward</mat-icon>
            </button>
            {{upvoteDownvoteDiff(i)}}
            <button mat-button (click)="downvote(i)">
                <mat-icon aria-hidden="false" aria-label="Example home icon">arrow_downward</mat-icon>
            </button>
        </mat-card-actions>
    </mat-card>
</div>