.container{
    width: 100%;
    margin: 20px;
}

mat-form-field{
  width: 75%;  
}
 .fill-remaining-space {
    /* This fills the remaining space, by using flexbox. 
       Every toolbar row uses a flexbox row layout. */
    flex: 1 1 auto;
  }