<mat-toolbar class="mat-elevation-z2" color="primary">
  <span>Create Poll</span>
  <span class="fill-remaining-space"></span>
  <button mat-button (click)="close()">
    <mat-icon>close</mat-icon>
  </button>
</mat-toolbar>

<form [formGroup]="createPollFormGroup" (ngSubmit)="onSubmit()">
  <div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="gappx">
    <mat-form-field appearance="outline">
      <input matInput placeholder="Title" formControlName="title" />
      <mat-label>Title</mat-label>
    </mat-form-field>
  </div>
  <div fxLayout="row">
    <mat-form-field appearance="outline">
      <input matInput placeholder="Password" formControlName="description" />
      <mat-label>Description</mat-label>
    </mat-form-field>
  </div>


  <div fxLayout="row" fxLayoutAlign="start center">
    <mat-form-field appearance="outline">
      <input
        matInput
        placeholder="Add Atleast 2 Options"
        formControlName="options"
      />
      <mat-label>Options</mat-label>
    </mat-form-field>
    <div>
      <button
        mat-raised-button
        type="button"
        color="primary"
        (click)="addCateg()"
        style="margin: 10px"
      >
        Add
      </button>
    </div>
  </div>

  <div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="gappx">
    <mat-chip-list>
      <mat-chip
        *ngFor="let option of optionList; let i = index"
        color="accent"
        selected
      >
        {{ option.optionName }}
        <mat-icon matChipRemove (click)="removeOption(i)">cancel</mat-icon>
      </mat-chip>
    </mat-chip-list>
  </div>

  <div fxLayout="row" fxLayoutAlign="center center">
    <button
      mat-raised-button
      type="submit"
      color="primary"
      [disabled]="!createPollFormGroup.valid"
      style="margin-top: 30px"
    >
      Create Poll
    </button>
  </div>
</form>
